extends ./layout
append styles
	link(href='/css/index.css', rel='stylesheet')
append scripts
	script(src='/js/main.js')

append body
	.big-container
		.container-flex
			.left-unit
				div#mapId
			.spacer
				span= " "
			.right-unit
				+panel-primary("Options")
					.options-panel
						+accordion("sample")
							+accordion-item-primary("Title1","sample","true")
								|  This is first accordion content
							+accordion-item-default("Title2","sample")
								|  This is second accordion content
							+accordion-item-default("Title3","sample")
								|  This is third accordion content


		+tab-list(["PureMap", "DataSetCreation", "Profile", "Messages", "Settings"],0)
			+tab("PureMap","active")
				h1 Map
			+tab("DataSetCreation")
				h1 Create Dataset
				div#dataSetCreationMapTable
					+table-bordered(["#", "First Name", "Last Name", "Username"],[["1", "Mark", "Otto", "@mdo"], ["2", "Jacob", "Thornton", "@fat"], ["3", "Larry", "the Bird", "@twitter"]])


			+tab("Profile")
				h1 Profile
				p This is Profile tab
			+tab("Messages")
				h1 Messages
				p This is Messages tab
			+tab("Settings")
				h1 Settings
				p This is Settings tab

