extends ./layout
append styles
    link(href='/css/index.css', rel='stylesheet')
append scripts
    script(src='/js/main.js')
    script(src='https://cdn.plot.ly/plotly-latest.min.js')

append body
    .big-container
        .container-flex
            
        #temp
        +tab-list(["Original", "Urbanization", "Vegetation", "Agriculture", "Land_and_Water","Atmosphere_Removal"],0)
            +tab("Original","active")
                #PureMapMarker
                h1 Map
                img(src="/images/thumb.jpg")
            +tab("Urbanization")
                #Urbanization
                h1 Urbanization
                p yolo
            +tab("Vegetation")
                #Vegetation
                h1 Vegetation
                p Vegetation
            +tab("Agriculture")
                #Agriculture
                h1 Agriculture 
                p Agriculture
            +tab("Land_and_Water")
                #Land_and_Water
                h1 Land_and_Water
                p This is land
            +tab("Atmosphere_Removal")
                #Atmosphere_Removal
                h1 Atmosphere_Removal
                p This is atmosphere
