extends ./layout
append styles
    link(href='/css/index.css', rel='stylesheet')
append scripts
    script(src='/js/main.js')
    script(src='https://cdn.plot.ly/plotly-latest.min.js')

append body
    .big-container
        .container-flex
            
        #temp
        +tab-list(["Original", "Urbanization", "Vegetation", "Agriculture", "Land_and_Water","Atmosphere_Removal"],0)
            +tab("Original","active")
                #PureMapMarker
                h1 Map
                img(src="/images/original1.png" style='width:500px; height:500px;' )
            +tab("Urbanization")
                #Urbanization
                h1 Urbanization
                img(src="/images/urban.png" style='width:500px; height:500px;' )
            +tab("Vegetation")
                #Vegetation
                h1 Vegetation
                img(src="/images/vegetation.png" style='width:500px; height:500px;' )
            +tab("Agriculture")
                #Agriculture
                h1 Agriculture 
                img(src="/images/agriculture.png" style='width:500px; height:500px;' )
            +tab("Land_and_Water")
                #Land_and_Water
                h1 Land_and_Water
                img(src="/images/land.png" style='width:500px; height:500px;' )
            +tab("Atmosphere_Removal")
                #Atmosphere_Removal
                h1 Atmosphere_Removal
                img(src="/images/atmosphere.png" style='width:500px; height:500px;' )
            
